.card {
    width: 270px;
    height: 354px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    cursor: pointer;
   }
   
   .card2 {
    width: 267px;
    height: 354px;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

   .card2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
   }

